@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    font-family: 'Space Mono', monospace;
}

button{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
}

h1{
    font-size: 26px;
    color: #2B3442;
}

b{
    font-size: 1rem;
    color: #2B3442;
}

h6{
    font-size: 13px;
}

a:hover{
    text-decoration-line: underline;
}

p, a, input, input::placeholder{
    font-size: 13px;
    margin: 0;
    font-weight: 400;
	text-decoration: none;
	line-height: 25px;
    color: #697C9A;
}

div.light{
    background: #FEFEFE;
}

body{
	background: #F6F8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    min-width: 327px;
    max-width: 730px;
    gap: 1rem;
	margin-inline: 24px;
}

.search{
    background: #FFF;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .5rem;
    padding-block: 0.406rem;
    gap: .5rem;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.card{
	border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    display: flex;
	flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
	padding-inline: 24px;
    background: #FFF;
}

.header{
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding-inline: .55rem;
	gap: 1rem;
	width: 100%;
}

input{
    width: 100%;
    border: none;
	padding: 0;
	margin: 0;
	font-size: 13px;
    background: #FFF;
}

img.search-icon{
    width: 20px;
    height: 20px;
}

button.search-button{
    border-radius: 0.625rem;
    background: #0079FF;
    color: #FFF;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    padding-block: 0.781rem;
    width: fit-content;
}

button.search-button:hover{
   background: #60ABFF;
}

button.color-scheme {
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 2.5px;
    color: #2b3442;
  }

.card-header{
    display: flex;
    gap: 1rem;
}

.header-info{
    display: flex;
    flex-direction: column;
}

.header-info p{
    margin: 0;
}

.header-info a{
    color: #0079FF;
}

.circle{
    width: 4.375rem;
    height:4.375rem;
    border-radius: 4.375rem;
	background: lightgray 50% / cover no-repeat;
}

.header-info span{
    display: flex;
    flex-direction: column;
}

.user-github-counts{
    display: flex;
    border-radius: 0.625rem;
    background: #F6F8FF;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.github-count{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.github-count p{
    font-size: 0.688rem;
}

.github-count b{
    font-weight: 700;
    font-size: 1rem;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
    color: #697C9A;
}

.socials a, p{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 0.813rem;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.socials a:hover{
    text-decoration-line: underline;
}

.not-available{
	opacity: .5;
}

a.not-available:hover{
    text-decoration-line: none;
    cursor: auto;
}

.card p {
    color: #697c9a;
  }
  p {
    color: #697c9a;
  }
  .github-count p {
    color: #697c9a;
  }
  .socials p {
    color: #697c9a;
  }

/* dark theme */
@media (prefers-color-scheme: dark){
    body.dark{
        background: #141D2F;
        color: #FFF;
    }
    h1.dark, h6.dark, p.dark, a.dark, button.dark{
        color: #FFF;
    }

    input.dark{
        background: #1E2A47;
        color: #FFF;
    }

    input.dark::placeholder{
        color: #FFF;
    }

    .search.dark{
        background: #1E2A47;
    }

    .card.dark{
        background: #1E2A47;
        box-shadow: none;
    }

    .user-github-counts.dark{
        color: #FFF;
        background: #141D2F;
    } 
    .card.dark p {
        color: #fff;
      }
      .github-count.dark b,
      p {
        color: #fff;
      }
      p.dark {
        color: #fff;
      }
      b.dark,
      a.dark {
        color: #fff;
      }

}

/* MQ */
@media (min-width: 573px) {
    .socials{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }
}
@media (min-width: 1200px) { 
    .header-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        width: 100%;
    }

    .header-info span{
        display: flex;
        flex-direction: column;
    }

    .header-info p{
        justify-content: end;
    }
 }