@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    font-family: 'Space Mono', monospace;
}

button{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
}

h1{
    font-size: 26px;
}

b{
    font-size: 1rem;
    color: #2B3442;
}

h6{
    font-size: 13px;
}

p, a{
    font-size: 13px;
    margin: 0;
    color: #697C9A;
    font-weight: 400;
	text-decoration: none;
	line-height: 25px;
}

body{
	background: #F6F8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
	margin-inline: 24px;
}

.search{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .5rem;
    padding-block: 0.406rem;
    gap: .5rem;
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.card{
	border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    display: flex;
	flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
	padding-inline: 24px;
}

.header{
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding-inline: .55rem;
	gap: 1rem;
	width: 100%;
}

input[type=text]{
    width: 100%;
    border: none;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

img.search-icon{
    width: 20px;
    height: 20px;
}

button.search{
    border-radius: 0.625rem;
    background: #0079FF;
    color: #FFF;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    padding-block: 0.781rem;
    width: fit-content;
}

.card-header{
    display: flex;
    gap: 1rem;
}

.header-info{
    display: flex;
    flex-direction: column;
}

.header-info p{
    margin: 0;
}

.header-info a{
    color: #0079FF;
}

.circle{
    width: 4.375rem;
    height:4.375rem;
    border-radius: 4.375rem;
	background: lightgray 50% / cover no-repeat;

}

.user-github-counts{
    display: flex;
    border-radius: 0.625rem;
    background: #F6F8FF;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.github-count{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.github-count p{
    font-size: 0.688rem;
}

.github-count b{
    font-weight: 700;
    font-size: 1rem;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
}

.socials a, p{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 0.813rem;
    color: #697C9A;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.not-available{
	opacity: .5;
}

/* dark theme */
@media (prefers-color-scheme: dark){
    body{
        background: #141D2F;
    }
    h1, h6, p, b, a, button{
        color: #FFF;
    }
    .search, .card{
        background: #1E2A47;
    }

    .card .user-github-counts{
        background: #141D2F;
    }
    input{
        background: #1E2A47;
        color: #FFF;
    }

    input::placeholder{
        color: #FFF;
    }

    .socials a{
        color: #FFF;
    }
}
/* MQ */
@media (min-width: 576px) {
     
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }